# SMTP server settings (e.g. Gmail)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# Your email login and password
SMTP_EMAIL=your_email@gmail.com
# ATTENTION: In case of using Gmail you have to put 16-characters "App Password" NOT YOUR GMAIL PASSWORD
SMTP_PASSWORD=abcd efgh ijkl mnop

# Default setting to send an email 
EMAIL_FROM=your_email@gmail.com
EMAIL_TO=receiver@example.com
